name: PostgreSQL Flexible server build

on:
  push:
    branches: [ main ]

  workflow_dispatch:

permissions:
      id-token: write
      contents: read

jobs:
  gh_psql:
    runs-on: self-hosted
    steps:

    - name: 'Az CLI login'
      uses: azure/actions/login@v1
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: 'Run Azure CLI commands'
      run: |
        az account show
        az group list
        pwd 

    - uses: azure/postgresql@v1
      with:
        connection-string: ${{ secrets.AZURE_POSTGRESQL_CONNECTION_STRING }}
        server-name: tst-oms-psqlflex
        plsql-file: '${{ github.workspace }}/tst_schema.sql'
